<!DOCTYPE html>
<html>
<head>
    <title>All Contacts</title>
</head>
<body>
    <h1>All Contacts and Message</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact[0] }}</td>
            <td>{{ contact[1] }}</td>
            <td>{{ contact[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}"><button>Return to Main Page</button></a>
</body>
</html>
